DATABASE__DRIVER=postgresql+asyncpg
DATABASE__HOST=db
DATABASE__PORT=5433
DATABASE__USER=postgres
DATABASE__PASSWORD=postgres
DATABASE__NAME=topic_picker
DOCKERHUB_BACKEND_IMAGE=ainsual2/topic-picker-backend:latest
